.login-container {
    background: linear-gradient(to bottom, #0a1f3d, #1e2e4f);
    padding: 10rem;
    border-radius: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 25px 40px rgba(1, 1, 1, 0.5);
}

.login-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    cursor: pointer;
}

.active-tab {
    font-weight: bold;
    border-bottom: 2px solid #00aaff;
}

.inactive-tab {
    color: #aaa;
}

.login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.3rem;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
}

@media (max-width: 768px) {
    .login-form {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .login-form {
        font-size: 0.8rem;
    }
}

.login-input {
    width: 100%;
    min-width: 300px;
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    border: none;
    border-radius: 8px;
    background: #2c3e50;
    color: #fff;
    font-size: 1rem;
}

.dropdown-input {
    appearance: none; /* remove default arrow */
    background: #2c3e50;
}

.dropdown-caret {
    position: absolute;
    right: 12px;
    color: #fff;
    pointer-events: none;
    font-size: 20px;
    font-weight: bold;
}

.login-input::placeholder {
    color: #bbb;
}

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #aaa;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.forgot-link {
    color: #00aaff;
    text-decoration: none;
}

.login-button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: inherit;
}

.login-button:hover {
    background-color: #0088cc;
}

.login-footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
}

.login-footer a {
    color: #aaa;
    text-decoration: none;
    margin: 0 0.25rem;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-icon {
    position: absolute;
    left: 12px;
    color: #aaa;
    font-size: 1rem;
}

.error-text {
    color: #ff4d4f;
    font-size: 0.85rem;
    margin-top: -35px;
    text-align: left;
}