.sidebar {
  width: 260px;
  background: #0668e7;
  color: #fff;
  height: auto;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #0719a0;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.1);
}

.search-bar input {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 0.5rem;
  width: 100%;
  padding: 3px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* left vs right */
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
  color: #ddd;
  font-weight: bold;

}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-item.active {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.menu-item .menu-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-item .menu-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.submenu {
  margin-left: 1.5rem; /* indent submenu */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.submenu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #ddd;
  padding: 0.3rem 0;
  cursor: pointer;
}

.plus, .caret {
  color: #fff;
  font-weight: bold;
}
.submenu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.submenu-item.active {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
